
.header {
       background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
              url('https://images.unsplash.com/photo-1581009137042-c552e485697a') center/cover;
       height: 100vh;
       background-attachment: fixed;
       background-position: fixed;
       color: var(--text-light);
       display: flex;
       align-items: center;
       justify-content: center;
       text-align: center;
       padding: 0 20px;

}

.cta-button {
       background-color: var(--primary-color);
       color: var(--text-light);
       padding: 12px 40px;
       border: none;
       border-radius: 12px;
       font-size: 1.2rem;
       cursor: pointer;
       transition: transform 0.3s;
       margin-top: 20px;
}

.cta-button:hover {
       transform: scale(1.05);
}
